<%- include('userheader') %>

<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="/">Home</a></li>
				<li class='active'>Shopping Cart</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content outer-top-xs">
	<div class="container">
		<div class="row ">
			<div class="shopping-cart">
				<div class="shopping-cart-table ">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th class="cart-romove item">Remove</th>
					<th class="cart-description item">Image</th>
					<th class="cart-product-name item">Product Name</th>
					<th class="cart-qty item">Quantity</th>
					<th class="cart-sub-total item">Subtotal</th>
					<th class="cart-total last-item">Grandtotal</th>
				</tr>
			</thead><!-- /thead -->
			
			<tbody>
				<% var sum = 0; i=1; %>
                <% for(var cd of catData){%>
				<tr>
					<td class="romove-item"><a href="/deleteCart/<%= cd.id %>" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
					<td class="cart-image">
						<a class="entry-thumbnail" href="javascript:void(0)">
						    <img src="<%= cd.productId.product_image %>" alt="">
						</a>
					</td>
					<td class="cart-product-name-info">
						<h4 class='cart-product-description'><a href="detail.html"><%= cd.productId.product_title%></a></h4>
						<div class="row">
							<div class="col-sm-12">
								<div class="rating rateit-small"></div>
							</div>
							<div class="col-sm-12">
								<div class="reviews">
									(06 Reviews)
								</div>
							</div>
						</div><!-- /.row -->
						<div class="cart-product-info">
											<span class="product-color">COLOR:<span><%= cd.productId.color%></span></span>
						</div>
					</td>
					<td class="cart-product-quantity">
						<div class="quant-input">
                            <input type="number" id="quantity<%= i%>" name="quantity" min="1" max="5" value="<%= cd.quantity %>" onchange="return getQuantity('<%= i %>','<%= cd.id %>')">
			              </div>
		            </td>
					<td class="cart-product-sub-total"><span class="cart-sub-total-price" id="price<%= i%>"><%= cd.productId.pprice %></span></td>
					<% var total = cd.quantity * cd.productId.pprice %>
					<% sum = sum + total %>
					<td class="cart-product-grand-total"><span class="cart-grand-total-price" id="subtotal<%= i %>"><%= total %></span></td>
				</tr>
                <% ++i } %> 
			</tbody><!-- /tbody -->
           
		</table><!-- /table -->
	</div>
</div><!-- /.shopping-cart-table -->				

<div class="col-md-12 col-sm-12 cart-shopping-total">
	<table class="table">
		<thead>
			<tr>
				<th>
					<div class="cart-sub-total">
						Subtotal<span class="inner-left-md" id="subTotal"><%= sum %></span>
					</div>
					<div class="cart-grand-total">
						Grand Total<span class="inner-left-md" id="GrandTotal"><%= sum %></span>
					</div>
				</th>
			</tr>
		</thead><!-- /thead -->
		<tbody>
				<tr>
					<td>
						<div class="cart-checkout-btn pull-right">
							<a type="submit" class="btn btn-primary checkout-btn">PROCCED TO CHEKOUT</a>
							<span class="">Checkout with multiples address!</span>
						</div>
					</td>
				</tr>
		</tbody><!-- /tbody -->
	</table><!-- /table -->
</div><!-- /.cart-shopping-total -->			</div><!-- /.shopping-cart -->
		</div> <!-- /.row -->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
<div id="brands-carousel" class="logo-slider wow fadeInUp">

		<div class="logo-slider-inner">	
			<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
				<div class="item m-t-15">
					<a href="#" class="image">
						<img data-echo="/images/brands/brand1.png" src="/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item m-t-10">
					<a href="#" class="image">
						<img data-echo="/images/brands/brand2.png" src="/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/images/brands/brand3.png" src="/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/images/brands/brand4.png" src="/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/images/brands/brand5.png" src="/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/images/brands/brand6.png" src="/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/images/brands/brand2.png" src="/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/images/brands/brand4.png" src="/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/images/brands/brand1.png" src="/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="/images/brands/brand5.png" src="/images/blank.gif" alt="">
					</a>	
				</div><!--/.item-->
		    </div><!-- /.owl-carousel #logo-slider -->
		</div><!-- /.logo-slider-inner -->
	
</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->

<%- include('userfooter') %>

<script>
	function getQuantity(i , cartId){
		var qu= parseInt(document.getElementById('quantity'+i).value);
		var price = parseInt(document.getElementById('price'+i).innerHTML);
		var total = qu*price;

		document.getElementById('subtotal'+i).innerHTML = total;

		var finalTotal = 0;
		for(var j=1; j<='<%= catData.length %>'; j++){
			finalTotal += parseInt(document.getElementById('subtotal'+j).innerHTML)
			console.log(finalTotal);
		}

		document.getElementById('subTotal').innerHTML = finalTotal;
		document.getElementById('GrandTotal').innerHTML = finalTotal;

		$.ajax({
    	url : "/changeQuantity",
    	method : 'post',
    	data : {
			quantity :qu,
			cartId : cartId
    	},
    	success : function(res){
    	 
    	}
  })
	}
</script>